<template>
<div class="container">
    <h1>FFP2 Masks</h1>
    <p>
      {{ stock }}
    </p>
    <ul id="v-for-object">
      <li v-for="value in stockObject" :key="value.storeid">
        <a :href="'https://maps.google.com/?q=DM ' + value.street + ' ' + value.zip + ' ' +  value.city">{{ value.street }}, {{ value.zip }} {{ value.city }}: {{ value.stock }}</a>
      </li>
    </ul>
</div>
</template>

<!-- Logic -->
<script>
import axios from 'axios';

function countStock(stockVailability) {
  var cnt = 0  
  Object.values(stockVailability).forEach(val => {
    cnt = cnt + val[0].stockLevel
  });
  return cnt
}

export default {
  name: 'FFP2',
  data() {
    return {
      stock: "No stock data available.",
      stockObject: []
    }  
  },

  mounted() {
    let self = this;

    this.stock = "Loading..."
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
      console.log(position)

      var storesUrl = "https://store-data-service.services.dmtech.com/stores/nearby/" + position.coords.latitude + "%2C" + position.coords.longitude + "/1"
      axios.get('https://api.allorigins.win/raw?url=' + encodeURIComponent(storesUrl))
        .then(response => {
          console.log(response.data.stores)
          response.data.stores.forEach(store => {    
          var stockUrl = "https://products.dm.de/store-availability/DE/availability?dans=725716,725140,734782,726160&storeNumbers=" + store.storeNumber
          axios.get('https://api.allorigins.win/raw?url=' + encodeURIComponent(stockUrl))
            .then(response => {
              
              var onStock = 0 
              onStock = countStock(response.data.storeAvailabilities)
  
              self.stockObject.push({
                storeid: store.id,
                stock: onStock,
                street: store.address.street,
                zip: store.address.zip,
                city: store.address.city
              })

            })
            .catch(e => {
              console.log(e)
            })
          });
          
          self.stock = "Nearby DM stores with FFP2 Masks:"

        })
        .catch(e => {
          console.log(e)
        })
      });
    }
    
  }
}


</script>

<style scoped>
	.home-panel {
		vertical-align: center;
		font-size: 20;
		margin: 15;
	}

	.description-label {
		margin-bottom: 15;
	}
</style>
